@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.6
	letter-spacing 0.01em

.main-cont
	center(1530px,10px)

.main-cont--sm
	center(1300px,10px)

.head-main-page
	.header-wrap
		+above(640px)
			position: absolute
			top 0
			left 0
			width: 100%
			z-index 10
			background: transparent
.header-wrap
	background: #001530
	margin-bottom: 40px
.header
	f()
	align-items: center
	background: $dark
	height: 70px

.logo
	display: inline-block
	margin-right: 30px
	width: 200px
.header__slogan
	+below(1200px)
		font-size: 12px
	+below(640px)
		display: none
	up()
	color white
	font-weight:700

.menu
	+below(1200px)
		width: 60%
	+below(1024px)
		display: none !important
	f()
	align-items: stretch
	margin-left: auto
	width: 50%
.menu__el
	+below(1480px)
		padding: 19px 15px
		font-size: 12px
		flex-grow 1
	flex(mid)
	@extend .type--sm
	up()
	tr(all)
	padding: 19px 25px
	color white
	height: 69px
	font-weight: 700
	border-bottom 2px solid transparent
	&:hover
		color $yellow
.menu__el--active
	color white
	border-bottom 2px solid $yellow

//mobile menu
.head-toggle
	+above(1025px)
		display: none
	size 70px
	flex(mid)
	cp()
	margin-left: auto
	.icon
		size 25px
		fill white
	.icon-close
		display: none
.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(480px)
		width: 100%
	background: black
	color white
	position: fixed
	height: calc(100% - 70px) //Отступ хедер
	z-index 1250
	top 70px
	right 0
	width: 320px
	transform translateX(100%)
	tr(all)
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list-el
	padding: 20px
	display: block
	color white
	font-size: 16px
	up()
	tr(all)
	border-bottom 1px solid rgba(255, 255, 255, 0.05)
	&:hover
		background: $yellow
		color white
.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important

.main-banner
	position: relative
	overflow: hidden
	+below(640px)
		display: none
.filter
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%
	background: #000000a3
.main-banner__el
	+below(768px)
		padding: 35% 10%
	padding: 22% 10%
	width: 100%
	bg-full()

.main-banner__el--md
	+below(769px)
		display: none
.main-banner__el--sm
	display: none
	+below(768px)
		display: block

.section
	+below(768px)
		padding-top: 40px
	padding-top: 80px
.section-title
	+below(768px)
		padding-top: 20px
		margin-bottom: 20px
	up()
	@extend .type--xl
	position: relative
	padding-top: 40px
	display: block
	margin-bottom: 40px
	&:before
		content ''
		position: absolute
		width: 130px
		height: 3px
		background: $yellow
		top 0
		left 0

.section--first
	+below(640px)
		padding-top: 0

.title
	+below(768px)
		padding-top: 20px
		margin-bottom: 20px
	up()
	@extend .type--xl
	position: relative
	padding-top: 40px
	display: block
	margin-bottom: 40px
.title--line
	&:before
		content ''
		position: absolute
		width: 130px
		height: 3px
		background: $yellow
		top 0
		left 0
.section-title--center
	text-align: center
	&:before
		content ''
		left 50%
		transform translateX(-50%)

.content
	margin-bottom: 30px
.content--md
	p,li,a
		@extend .type--md
	font-weight: 300
.content--center
	text-align: center

.advant
	+below(768px)
		fw()
	f()
	justify-content: space-between
	align-items: flex-start

.advant__el
	+below(768px)
		width: 23%
	+below(700px)
		width:48%
		margin-bottom: 20px
	flex(mid)
	fl()
.advant__el-img
	+below(640px)
		width: 60%
	margin-bottom: 20px
.advant__el-text
	+below(640px)
		font-size: 12px
	font-size: 16px
	text-align: center
//filter
.filter-wrap
	+below(1024px)
		padding: 30px
		margin: 30px 0
	+below(640px)
		padding: 20px 10px
		margin-left: -10px
		width:calc(100% + 20px)
	padding: 60px 30px
	box-shadow 0 0 0 rgba(232, 232, 232, 0.11)
	border 1px solid rgba(221, 221, 221, 0.15)
.filter__title
	+below(1024px)
		margin-bottom: 40px
	+below(640px)
		margin-bottom: 20px
	@extend .type--lg
	font-weight 700
	text-transform uppercase
	color $black
	text-align: center
	margin-bottom: 70px
.filter-list
	+below(768px)
		fw()
	+below(640px)
		margin-bottom: 0
	flex(between)
	margin-bottom: 30px
.filter-el
	+below(768px)
		width: 48%
		margin-bottom: 20px
	+below(640px)
		width: 100%
	width: 24%
	.nice-select
		width: 100%
.filter-el__name
	up()
	font-size: 15px
	margin-bottom: 20px
	font-weight: 700
//.filter-el__select
//.select-beauty
.filter-footer
	+below(640px)
		fw()
	flex(between)
.filter-info
	+below(1440px)
		padding-right: 20px
	+below(1024px)
		width: 60%
	+below(768px)
		width: 48%
	+below(640px)
		width: 100%
		margin-bottom: 20px
	@extend .type--sm
	color #999999
	width: 80%
.filter-get
	+below(768px)
		width: 48%
	+below(640px)
		width: 100%

	@extend .btn--md
	@extend .btn--mark
	width: 24%
	padding: 15px

//filter===end

select.select-beauty
	display: none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

.nice-select
	br(5px)
	display: block
	font-size 14px
	height: 50px
	line-height: 50px
	&.open
		border-radius 5px 5px 0 0
	.list
		width: calc(100% )
		left 0px
		border-radius 0 0 5px 5px
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		color black
		li
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis

.brand
	+below(960px)
		display: none
	position: relative
	margin: 100px 0
	f()
	justify-content: space-between
	align-items: center
	padding: 40px 60px 40px 20px
	box-shadow 0 10px 45px rgba(0, 0, 0, 0.2)
	br(10px)
.brand-img
	width: 48%
.brand-info
	width:48%
.brand-info__title
	@extend .type--lg
	up()
	margin-bottom: 45px
.brand-info__list
	padding-left: 30px
	border-left 2px solid $yellow
.brand-info__list-el
	@extend .type--md
	margin-bottom: 25px
	&:last-child
		margin-bottom: 0

.brand-img__el
	bg-full()
	padding: 38% 10%
	width: 100%

.footer-map-wrap
	+below(768px)
		height: 300px
		margin-top: 40px
	position: relative
	padding: 5% 0
	margin-top: 90px
.footer-map
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	background: gray
.footer-contact
	+below(768px)
		display: none
	padding: 20px
	background: white
	z-index 10
	position: relative
	width: 350px
	margin-right: auto
	box-shadow 0 10px 45px rgba(0, 0, 0, 0.2)
	border-radius 10px

.footer-contact__row
	margin-bottom: 15px
.footer-contact__name
	color #333333
	@extend .type--sm
	margin-bottom: 5px
	opacity: .5

.footer-contact__val
	font-size: 16px
	margin-bottom: 10px
.footer-contact-get
	margin-top: 30px
	f()
	align-items: center
	font-size: 16px
	color #135d8d
	.icon
		size 20px
		fill blue
		margin-right: 15px

.footer-logo
	flex(mid)
	fl()
	margin-bottom: 40px
.footer-logo__img
	margin-bottom: 3px
.footer-logo__text
	up()
	color #333333
	font-size: 12px

.order
	margin-bottom: 30px
	.input
		width: 100%
		padding-right: 60px
.order-row
	position: relative

.order-title
	color #333333
	font-weight: 700
	max-width 220px
	margin-bottom: 20px
.order-send
	position: absolute
	right: 0
	top 0
	background: $yellow
	border 0
	height: 100%
	width: 50px
	flex(mid)
	border-radius 0 10px 10px 0
	.icon
		size 18px
		fill white
//.icon

.copyright
	margin-top: 40px
	width: 260px
	text-align: center
	font-size: 12px
	margin-left: auto
	margin-right: auto
	color #666666
	opacity: .8


.bread
	+below(640px)
		margin-bottom: 20px
	f()
	fw()
	margin-bottom: 40px
.bread__el
	margin-right: 25px
	margin-bottom: 10px
	position: relative
	@extend .type--sm
	up()
	tr(all)
	&:hover
		opacity:1
		color $yellow
	&:after
		content '|'
		position: absolute
		right: -17px
		top 0
	&:last-child
		&:after
			content ''
			display: none
		pointer-events none
		opacity: .5

.chart-list
	margin-top: 30px
.chart-list__el
	+below(480px)
		fl()
		flex(mid)
	f()
	margin-bottom: 30px
.chart-list__el-img
	margin-right: 20px
	img
		+below(640px)
			size 60px
		+below(480px)
			size 100px
			margin-bottom: 20px
		size 100px
.chart-list__el-content
	+below(640px)
		width calc(100% - 70px)
	+below(480px)
		width: 100%
	width calc(100% - 130px)
	p
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
.chart-list__el-title
	display: inline-block
	margin-right: 5px
	font-weight: 700
	color black



.item
	+below(767px)
		display: none
.item-el
	+below(640px)
		fl()
		flex(mid)
		padding: 30px 20px
	f()
	padding: 40px
	box-shadow 0 10px 45px rgba(0, 0, 0, 0.2)
	border-radius 10px
	margin-bottom: 30px
	background: white

.item-img
	+below(768px)
		width: 100%
		max-width 180px
	width: 20%
	margin-right: 5%
	min-width 200px
.item-img__el
	bg-full()
	padding: 50% 20%
	width: 100%

.item-content
	+below(768px)
		width: 100%
	width: 70%
.item__title
	@extend .type--lg
	up()
//.item__text
//.item-list-wrap
.item-list__title
	@extend .type--md
	font-weight:700
	margin-bottom: 20px

.item-list
	column-count 2
	margin-bottom: 35px
.item-list__el
	font-weight:300
	padding-left: 20px
	position: relative
	margin-bottom: 5px
	&:before
		+below(768px)
			top 5px
		content ''
		size 10px
		round()
		background: $yellow
		top 12px
		left 0
		position: absolute

.item-advant
	f()
	align-items: center
	justify-content: space-around
.item-advant__el
	width: 23%
	max-width 145px
	flex(mid)
	fl()
.item-advant__el-img
	+below(768px)
		width 70%
		margin-bottom: 10px
	margin-bottom: 20px
.item-advant__el-text
	+below(768px)
		font-size: 12px
	text-align: center

.catalog-toggle
	+below(768px)
		fl()
	flex(mid)
	margin-top: 50px
.catalog-toggle__el
	+below(480px)
		width: 100%
		min-width 100%
		font-size: 12px
	min-width 300px
	padding: 20px
	border 1px solid $border-color
	up()
	font-size 15px
	font-weight 700
	color #212121
	width: 25%
	text-align: center
	letter-spacing 1.5px
	cp()
	tr(all)
	&:hover
		border-color $yellow
	&:first-child
		+below(768px)
			margin-right: 0
			margin-bottom: 20px
		margin-right: 40px

.catalog-toggle__el--active
	&:hover
		background: lighten($yellow,10)
	background: $yellow
	color white
	border 1px solid $yellow

.catalog
	display: none
.catalog-wrap
	+below(768px)
		padding: 30px 0
		margin-top: 30px
	+below(640px)
		padding: 30px 0
	background: white
	margin-top: 60px
	padding: 60px 0
.catalog--active
	display: block

//.list
.list-head
	+below(1500px)
		padding: 5px 20px
	+below(640px)
		display: none
	f()
	padding: 5px 50px
	margin-bottom: 30px
.list-head__el
	+below(768px)
		font-size: 12px
		text-transform: none
	up()
	width: 20%
	color #212121
	opacity .4
	font-size: 16px
	&:first-child
		min-width 300px
		width: 30%
.list-title
	+below(1500px)
		padding: 5px 20px
	+below(768px)
		padding: 0 10px
		margin: 20px 0
	@extend .type--md
	up()
	color $black
	padding: 5px 50px
	font-weight 700
	margin: 30px 0
	&:nth-child(1)
		margin-top: 0
.list-row
	+below(1500px)
		padding: 5px 20px
	+below(640px)
		fw()
		padding: 10px
		padding-bottom: 10px
		margin-bottom: -1px
		border-bottom 1px solid $border-color
		border-top 1px solid $border-color
	padding: 5px 50px
	margin-bottom: 5px
	f()
	tr(all)
	cp()
	&:hover
		box-shadow 0 3px 26px 4px rgba(112, 112, 112, 0.49)
.list-el
	+below(640px)
		f()
		justify-content: space-between
		width: 100%
		font-size: 13px
		margin-bottom: 3px
	width: 20%
	line-height: 1.4
	&:first-child
		+below(640px)
			min-width:auto
			width: 100%
			padding-right: 0
		min-width 300px
		width: 30%
		padding-right: 20px

//.list-name
//.list-power
//.list-weight
//.list-size

.list-type
	+below(640px)
		display: block
	display: none
	width: 35%

.list-val
	+below(640px)
		font-weight: 600
		width: 60%

.goods-wrap
	f()
	fw()
	margin-left: -10px
	margin-right: -10px
.goods
	+below(1024px)
		width: calc(100%/3 - 30px)
	+below(768px)
		width: calc(100%/2 - 30px)
	+below(480px)
		width: calc(100% - 30px)
	margin: 0 15px 30px 15px
	width: calc(100%/4 - 30px)
	background: white
	padding: 30px
	box-shadow 0 10px 15px rgba(0, 0, 0, 0.2)
	border-radius 10px
	cp()
	tr(all)
	&:hover
		box-shadow 0 20px 35px rgba(0, 0, 0, 0.4)

.goods-img
	bg-full()
	padding: 30% 20%
	background-size: contain
	margin: 30px 0
.goods-content
	border-top 1px solid rgba(221, 221, 221, 0.4);
.goods-title
	up()
	font-weight 700
	letter-spacing 1.2px
	color $black
	margin-bottom: 20px
.goods-info
	padding-top: 20px
.goods-row
	flex(between)
	font-size: 14px
	margin-bottom: 10px
.goods-row__name
	+below(768px)
		font-size: 12px
	opacity: .8

.goods-row__val
	+below(768px)
		font-size: 12px
	font-weight:600
	color $black

.goods-get
	@extend .type--sm
	up()
	display: inline-block
	padding: 5px 20px
	color #212121
	letter-spacing 2.8px
	border-left 1px solid $border-color
	border-right 1px solid $border-color
	margin-left: auto
	margin-right: auto
	&:hover
		color $yellow
.goods-get-wrap
	flex(mid)

.pagination
	fw()
	flex(mid)
.pagination__el
	flex(mid)
	tr(all)
	box-shadow 0 0 0 rgba(232, 232, 232, 0.11)
	border 1px solid rgba(221, 221, 221, 0.4)
	background-color #ffffff
	size 40px
	margin: 4px
	&:hover
		background: $yellow
		color white
		border-color $yellow
.pagination__el--active
	border-color $yellow
	background: $yellow
	color white



.catalog-row-head
	+below(640px)
		padding: 15px 20px
	flex(between)
	padding: 15px 35px
	background:#f5f5f5
	margin-bottom: 20px
	br(10px)
	cp()
	&:hover
		color $yellow
.catalog-row-head__title
	font-weight: 700
	up()
	tr(all)
.catalog-row-head__icon
	.icon
		size 12px
		fill  #999999
		tr(all)
.catalog-row-content
	display: none
	padding-bottom: 20px

.catalog-row--active
	.catalog-row-head
		color $yellow
		.icon
			transform rotate(180deg)

.location
	+below(1024px)
		column-count 3
	+below(768px)
		column-count 2
	column-count 4
.location-col
	f()
	margin-bottom: 10px
.location-letter
	+below(640px)
		margin-right: 10px
		size 20px
		font-size:14px
	flex(mid)
	size 30px
	color white
	background: $yellow
	margin-right: 30px
	font-weight: 700
//.location-list
.location-el
	+below(640px)
		font-size: 10px
	margin-bottom: 5px
	color $black
	display: block
	&:hover
		color $yellow
.location-el--active
	font-weight: 700

//market
.market-wrap
	+below(768px)
		padding: 0
	background: white
	padding: 60px 0

.market-head

	+below(1500px)
		padding: 5px 20px
	+below(1024px)
		margin-bottom: 0
	+below(640px)
		display: none
	f()
	padding: 5px 50px
	margin-bottom: 30px
.market-head__el
	+below(768px)
		font-size: 12px
		text-transform: none
	up()
	color #212121
	opacity .4
	font-size: 16px
.market-head__el-name
	width: 20%
.market-head__el-adres
	width: 60%
.market-head__el-phone
	+below(768px)
		width: 25%
	width: 20%

.market-row
	+below(1500px)
		padding: 5px 20px
	+below(640px)
		fw()
		padding: 10px
		padding-bottom: 10px
		margin-bottom: -1px
		border-bottom 1px solid $border-color
		border-top 1px solid $border-color
	padding: 5px 50px
	margin-bottom: 5px
	f()
	tr(all)
	cp()
	&:hover
		box-shadow 0 3px 26px 4px rgba(112, 112, 112, 0.49)
.market-el
	+below(960px)
		font-size: 16px
	+below(640px)
		f()
		justify-content: space-between
		width: 100%
		font-size: 13px
	+below(480px)
		fw()
	line-height: 1.4

.market-name
	+below(640px)
		width: 100%
	up()
	width: 20%
.market-adres
	+below(640px)
		width: 100%
	width: 60%
.market-phone
	+below(768px)
		width: 25%
	+below(640px)
		width: 100%
	width: 20%
//.market-power
//.market-weight
//.market-size

.market-type
	+below(640px)
		display: block
		font-weight: 600
	+below(480px)
		width: 100%
		margin-bottom: 5px
	display: none
	width: 35%

.market-val
	+below(1024px)
		padding: 0 4px
	+below(640px)
		width: 60%
		padding: 0
	+below(480px)
		width: 100%
		margin-bottom: 5px

//.diler-wrap
.content-title--clear
	margin-bottom: 0
.diler-el
	+below(640px)
		fw()
	f()
	align-items: stretch
	margin-bottom: 30px
.diler-el__map
	+below(1024px)
		width: 45%
	+below(640px)
		width: 100%
		padding: 30% 10%
		min-height 300px
	width: 30%
	background: #dfdfdf
	padding: 12% 10%
	position: relative
.diler-map

	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
.diler-el__info
	+below(1024px)
		width: 55%
	+below(640px)
		width: 100%
		padding: 15px
	width: 70%
	background: white
	box-shadow 0 0 25px rgba(234, 234, 235, 0.75)
.diler-el__title
	+below(640px)
		padding: 10px
		margin-bottom: 20px
	@extend .type--md
	font-weight 700
	padding: 30px
	border-bottom 1px solid #eaeaeb
.diler-el__row
	+below(640px)
		fw()
	up()
	f()
	align-items: stretch
	line-height: 1.6
	&:nth-child(2)
		.diler-el__type
			padding-top: 40px
		.diler-el__val
			padding-top: 40px
	&:last-child
		.diler-el__type
			padding-bottom: 40px
		.diler-el__val
			padding-bottom: 40px
.diler-el__type
	+below(640px)
		width: 100%
		padding: 0 10px !important
		border 0
	color #a7a7a7
	margin-right: 5px
	display: block
	padding: 10px 30px
	width: 45%
	text-transform: none
	@extend .type--sm
.diler-el__val
	+below(640px)
		width: 100%
		padding: 10px !important
		text-transform: none
	padding: 10px 30px
	position: relative
	display: block
	width 55%
	&:before
		+below(640px)
			display: none
		content ''
		border-left 1px solid $border-color
		left 0
		position: absolute
		height: 100%
		top 0

.material
	+below(768px)
		margin-top: 30px
	+below(640px)
		margin-left: 0
		margin-right: 0
	f()
	fw()
	margin-left: -15px
	margin-right: -15px
	margin-top: 75px
.material__el
	+below(1200px)
		width: calc(100%/2 - 30px)
	+below(768px)
		width: 100%
	+below(640px)
		fl()
		margin: 0 0 30px 0
	f()
	fw()
	tr(all)
	margin: 0 15px 15px 15px
	width: calc(100%/3 - 30px)
	align-items: stretch
	border-radius 10px
	background-color #ffffff
	overflow: hidden
	box-shadow 0 10px 15px rgba(0, 0, 0, 0.2)
	&:hover
		box-shadow 0 10px 35px rgba(0, 0, 0, 0.4)
.material__el--img-wrap
	+below(640px)
		width: 100%
		margin-bottom: 0
	width: 50%
.material__el--img
	+below(640px)
		padding: 35%
	bg-full()
	padding: 45% 10%
	height: 100%

.material__el-cont
	+below(640px)
		padding-left: 15px
		width: 100%
	width:50%
	padding 20px
.material__el-row
	margin-bottom: 20px
.material__el-row-name
	@extend .type--sm
	color #999999
	margin-bottom: 10px
.material__el-row-val
	color #212121
	font-size: 16px
	up()