include block_html/_style.pug
include block_html/_include.pug

+header()
.main-cont
	.bread
		-
			var items = ['Главная','Пункт','О бренде'];
		each item in items
			a(href="#").bread__el #{item}

	.title.title--line AlphaLine — Аккумуляторы премиум качества
	.content
		p #[strong AlphaLine ] — аккумуляторные батареи, созданные для эксплуатации в экстремальных условиях и производятся для нашей компании южнокорейской корпорацией Atlas BX.
		p <strong>Atlas BX</strong> — ПЕРВЫЙ по экспорту автомобильных аккумуляторных батарей в Россию. Мы — ПЕРВЫЕ среди российских партнеров <strong>Atlas BX.</strong> <strong>AlphaLine</strong> – ПЕРВАЯ буква вашего автомобиля!
		p <strong>Atlas BX</strong>, с момента основания в 1944 году, считается технологическим лидером отрасли в Южной Корее. Он первым среди корейских компаний, еще в 1982 году, разработал и запустил производство необслуживаемых MF-батарей; в 2005-м первым в стране начал производство <strong>AGM-батарей</strong>; в 2008 году один из первых в мире в промышленных масштабах начал производить решетки методом штамповки.
		p В 2014 году корпорация <strong>Atlas BX</strong>  ввела новые мощности в Джеон Джу, увеличив суммарную мощность до 15 млн АКБ в год.
		p В 2017 году начала строительство современнейшего завода в США.
		p Производство <strong>Atlas BX</strong> сертифицировано по стандартам ISO 9001, ISO 14001, ISO/TS 16949. Корпорация многократно награждена правительством Южной Кореи за достижения в своей области.

	.title Технические характеристики
	.content
		p В аккумуляторах <strong>AlphaLine</strong> реализуется ряд инновационных технологий, обеспечивающих высокую надежность, долговечность и превосходные характеристики.
		.chart-list
			.chart-list__el
				.chart-list__el-img
					img(src="img/tools.png", alt="")
				.chart-list__el-content
					p #[span.chart-list__el-title Решетки Power Frame (X-frame):] производство решеток батарей методом штамповки (punching, stamped grid) обеспечивает максимальную устойчивость к механическим воздействиям и предельно возможные электрические характеристики работы АКБ
			.chart-list__el
				.chart-list__el-img
					img(src="img/metal.png", alt="")
				.chart-list__el-content
					p #[span.chart-list__el-title Легирование Calcium+:] новое кальциево-оловянное легирование материала решеток, которое эффективно снижает эффект саморазряда, существенно замедляет коррозию материала решеток
			.chart-list__el
				.chart-list__el-img
					img(src="img/serorate.png", alt="")
				.chart-list__el-content
					p #[span.chart-list__el-title Сепараторы GPS:] на поверхность пластин вместо традиционной аккумуляторной бумаги наносится нерастворимая полимерная сетка, которая армирует поверхность активной массы; значительно увеличивается сопротивляемость к осыпанию, к изгибам и деформации пластин; материал сепараторов изготавливается с применением ультра-микронных структурированных волокон
					p Некоторые производители считают применение этой технологии неотъемлемой и главной особенностью EFB-батарей. В аккумуляторах Flagman сепараторы GPS применяются во всех моделях, даже самых недорогих
			.chart-list__el
				.chart-list__el-img
					img(src="img/serorate.png", alt="")
				.chart-list__el-content
					p #[span.chart-list__el-title Высококачественные комплектующие:] высокопрочный корпус из современных материалов, специальная герметичная крышка, информативный индикатор заряда, эргономичная ручка для переноски, высококачественные мостики и клеммы.

	.goods
		- for (var i=0;i<5;i++)
			.goods-el
				.goods-img
					.goods-img__el(style="background-image:url('img/goods-el-1.png')")
				.goods-content
					.goods__title AlphaLine AGM (Absorbent Glass Mat)
					.goods__text
						p Применяются на автомобилях, оснащенных системой Start-Stop, при повышенной нагрузке на электросеть. Изготовлены по передовой технологии с абсорбированным электролитом. Высочайшие электрические характеристики, устойчивость к низким разрядам и большое число циклов заряда-разряда. Максимальная уверенность в запуске двигателя.
						p <strong>Линейка AlphaLine AGM – одна из самых широких линеек на рынке, произведенных по технологии AGM.</strong>
					.goods-list-wrap
						.goods-list__title Преимущества
						.goods-list
							.goods-list__el Более прочные, с легкостью переносят вибрации;
							.goods-list__el Не боятся глубоких разрядов;
							.goods-list__el Срок службы выше, 10-12 лет;
							.goods-list__el Стабильное напряжение при температурах до -30ºС;
							.goods-list__el Высокая отдача;
							.goods-list__el Быстрая зарядка – даже в условиях города;
							.goods-list__el Нет риска вытекания электролита и образования его паров;
							.goods-list__el Увеличенные пусковые токи (до 600-900 А).
					.goods-advant
						.goods-advant__el
							.goods-advant__el-img
								img(src="img/icon-start-stop.png", alt="")
							.goods-advant__el-text Применяются на автомобилях
						.goods-advant__el
							.goods-advant__el-img
								img(src="img/icon-rbs.png", alt="")
							.goods-advant__el-text Применяются на автомобилях
						.goods-advant__el
							.goods-advant__el-img
								img(src="img/icon-car.png", alt="")
							.goods-advant__el-text Применяются на автомобилях
						.goods-advant__el
							.goods-advant__el-img
								img(src="img/icon-equip.png", alt="")
							.goods-advant__el-text Применяются на автомобилях


+footer()
include ./block_html/_script.pug
