mixin footer()
	//block footer
	.footer-map-wrap
		.main-cont
			.footer-contact
				.footer-logo
					.footer-logo__img
						img(src="img/logo.png", alt="")
					.footer-logo__text Будьте ALPHA! Будьте ПЕРВЫМИ
				form(action="#" id="form")
					.order
						.order-title Отправим прайс-лист на ваш e-mail
						.order-row
							input(type="text" placeholder="Ваш E-mail*" class="input" )
							button(type="submit" form="form" value="Submit" class="order-send")
								+icon("send","icon")
						
				.footer-contact__row
					.footer-contact__name Адрес:
					.footer-contact__val г. Москва улица Ленина
				.footer-contact__row
					.footer-contact__name Телефон:
					.footer-contact__val 8(495)123-12-12
				.copyright ©2018. «Автомотив». Все права защищены <br> Продвижение сайта  <a  href="#">Снайпер</a>
		.footer-map
			//script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AwkF1GhSDg4kZ3hDsyV_PPciU2OtbJsK4&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
	//block footer end